<div class="container-fluid d-flex h-100">
  <app-sidebar></app-sidebar>
  <div class="screenContent">
    <div class="header">
        <div class="left"></div>
        <div class="right">
          <div class="user">
            <img src="../../../assets/images/icon/profile.png" alt="" (click)="toggleSettings($event)">

            @if (isSettingOpen) {
              <div class="listSetting">
                <div class="info" [routerLink]="['/user-info']">
                  <div class="icon">
                    <img src="../../../assets/images/icon/profile.png">
                  </div>
                  <div class="userInfo">
                    <h4>{{userInfo.name}}</h4>
                    <h6>{{userInfo.email}}</h6>
                  </div>
                </div>

                <div class="footer">
                  <button (click)="onLogOut()">Logout</button>
                </div>
              </div>
            }
          </div>
        </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>