<p-dialog 
    [header]="mode === 'edit' ? 'Edit category': 'Add category'" 
    [modal]="true" 
    [(visible)]="visible" 
    position="top" 
    [style]="{ width: '400px', height: 'auto' }"
    (onHide)="closeDialog()"
    class="formAddEndEdit"
>
    <div class="container">
        <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-25">Name</label>
            <input pInputText class="w-75 p-inputtext" autocomplete="off" [(ngModel)]="catName"/>
        </div>
    </div>
    <div class="footer d-flex justify-content-end gap-2">
        <button class="button add" (click)="save()">Add</button>
        <button class="button close" (click)="closeDialog()">Close</button>
    </div>
</p-dialog>